
<div class="container mt-4">

  <h1 class="text-center">Current task:</h1>
  <h2 class="text-center font-red"><%= @current_task.title.capitalize %></h2>


  <div class="container card-white py-3">



   <div class="d-flex justify-content-between align-items-center">
    <h4>Details for <%= @current_task.title.capitalize %>:</h4>
    <%= link_to " Edit", edit_task_path, class: "btn btn-outline-primary btn-sm"%>
   </div>

    <h6><%= @current_task.details %></h6>


  </div>


  <div class="container card-white mt-3">

    <p class="py-4 <%=@current_task.completed ? "font-green" : "font-red"  %> "> <strong><%= @message %></strong> </p>

  </div>






  <div class="container text-center">



    <p><%= link_to "Back to the list!", tasks_path, class: "btn btn-warning" %></p>


  </div>




</div>
